.btn {
  position: relative;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  &:before {
    display: block;
    content: "";
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin: auto;
    z-index: 15;
    background-image: url(../img/loader-white.svg);
    width: 22px;
    height: 22px;
    background-size: cover;
    opacity: 0;
    animation: spin 1.2s linear infinite;
    @include transition;
  }
  
  &.loading {
    pointer-events: none;
    
    .caption {
      opacity: 0!important;
    }
    
    &:before {
      opacity: 1!important;
    }
  }
}

@mixin btn-turing-small-dark {
  height: 36px;
  border-radius: 500px;
  border: 2px solid var(--neutral-900, #0A0A09);
  background: var(--neutral-0, #FFF);
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  overflow: hidden;
  @include transition;
  
  &.disabled,
  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
  
  &.loading {
    pointer-events: none;
    background: var(--neutral-900, #0A0A09)!important;
  }
  
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    
    svg {
      min-width: 13px;
      height: auto;
      display: block;
      object-fit: contain;
      
      path {
        @include transition;
        fill: var(--color-dark);
      }
    }
  }
  
  &,
  .caption {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark);
    @include transition;
    letter-spacing: 0.2px;
  }
  
  &:hover {
    background: var(--neutral-900, #0A0A09)!important;
    color: var(--color-white);
    
    &,
    .caption {
      color: var(--color-white);
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-white);
        }
        
        &.stroke {
          path {
            stroke: var(--color-white);
          }
        }
      }
    }
  }
  
}

@mixin btn-turing-small-white {
  height: 36px;
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 11px;
  padding-right: 11px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  overflow: hidden;
  @include transition;
  
  &.disabled,
  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    
    svg {
      min-width: 13px;
      height: auto;
      display: block;
      object-fit: contain;
      
      path {
        @include transition;
        fill: var(--color-dark);
      }
    }
  }
  
  .caption {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark);
    @include transition;
  }
  
  &:hover {
    background: var(--color-yellow-2);
    color: var(--color-dark);
    
    .caption {
      color: var(--color-dark);
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-dark);
        }
        
        &.stroke {
          path {
            stroke: var(--color-dark);
          }
        }
      }
    }
  }
  
  
}

@mixin btn-turing-small-red {
  height: 36px;
  border-radius: 500px;
  border: 2px solid var(--red-500);
  background: var(--red-100, #FEE);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  @include transition;
  
  
  
  
  &.disabled,
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    
    svg {
      min-width: 13px;
      height: auto;
      display: block;
      object-fit: contain;
      
      path {
        @include transition;
        fill: var(--red-500, #E82525);
      }
    }
  }
  
  &,
  .caption {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--red-500, #E82525);
    @include transition;
    letter-spacing: 0.2px;
  }
  
  &.loading{
    background: var(--red-500, #E82525);
  }
  
  &:hover {
    background: var(--red-500, #E82525);
    color: var(--color-white);
    border-color: var(--red-500, #E82525);
    
    &,
    .caption {
      color: var(--color-white);
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-white);
        }
        
        &.stroke {
          path {
            stroke: var(--color-white);
          }
        }
      }
    }
  }
  
  
  
}

@mixin btn-turing-small-yellow {
  
  &:before {
    background-image: url(../img/loader-black.svg);
  }
  
  height: 36px;
  border-radius: 500px;
  border: 2px solid var(--color-dark);
  background-color: var(--color-yellow);
  color: var(--color-dark) !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  overflow: hidden;
  @include transition;
  
  &.disabled,
  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
  
  &.loading {
    pointer-events: none;
  }
  
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    
    svg {
      min-width: 13px;
      height: auto;
      display: block;
      object-fit: contain;
      
      path {
        @include transition;
        fill: var(--color-dark);
      }
    }
  }
  
  &,
  .caption {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark);
    letter-spacing: 0.2px;
  }
  
  &:hover {
    background-color: var(--color-yellow-2) !important;
    color: var(--color-dark) !important;
    
    &,
    .caption {
      color: var(--color-dark) !important;
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-dark);
        }
        
        &.stroke {
          path {
            fill: var(--color-dark);
          }
        }
      }
    }
  }
  
}


.btn-turing-small-dark {
  @include btn-turing-small-dark;
}

.btn-turing-small-yellow {
  @include btn-turing-small-yellow;
}

.btn-turing-small-red {
  @include btn-turing-small-red;
}
