.tabs-body__item[data-tab="SD Card"] {

  .input-wrap{
    display: flex;
    align-items: center;
    input{
      max-width: 660px;
    }
    .prefix-label{
      min-width: 40px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: left;
      font-weight: 500;
    }
  }

}