.page-template-404 {
  padding-bottom: 65px;
  padding-top: 35px;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-error {
    color: var(--color-grey-3);
    font-size: 180px;
    font-weight: 700;
    line-height: 1.21;
    font-family: var(--font-inter);
    font-style: normal;
    text-align: center;
  }

  .page-title {
    color: var(--color-dark);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--font-inter);
    font-style: normal;
    text-align: center;
  }

  .btn-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .btn {
      border-width: 2px;
      min-width: 220px;
    }
  }

  @media (max-width: 1199px) {
    padding-bottom: 85px;
    padding-top: 65px;

    .page-error {
      font-size: 120px;
    }

    .page-title {
      font-size: 32px;
      margin-top: 15px;
    }
  }

  @media (max-width: 420px) {
    .page-title {
      font-size: 7.2vw;
    }

    .page-error {
      font-size: 30vw;
    }
  }
}
