
.tooltip-wrap {
  position: relative;
  cursor: pointer;
  display: inline-block;
  
  &:hover, &.active {
    .tooltip {
      opacity: 1;
      transform: translateY(calc(-100% + 10px));
      pointer-events: all;
      &[data-x-align="center"] {
        transform: translateY(calc(-100% + 10px)) translateX(-50%);
      }
    }
  }
  
  
  .tooltip {
    position: absolute;
    border-radius: 12px;
    background: #FFF;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.12));
    width: 270px;
    top: -100%;
    transform: translateY(calc(-100%));
    z-index: 999;
    opacity: 0;
    pointer-events: none;;
    @include transition;
    

    
    .tooltip-inner {
      padding: 16px;
      color: var(--color-dark);
      font-family: var(--font-inter);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.4;
      position: relative;
      
      div {
        max-width: 100%;
        white-space: normal;
      }
      
      svg {
        position: absolute;
        bottom: 0;
        height: 16px;
        width: auto;
        left: 50%;
        transform: translateY(80%) translateX(-50%);
      }
      
      strong {
        color: var(--neutral-900, #0A0A09);
        font-family: var(--font-inter);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.33;
        display: block;
        margin-bottom: 8px;
      }
      
    }
    
    &[data-size="large"] {
      width: 360px;
    }
    
    &[data-x-align="center"] {
      transform: translateY(calc(-100%)) translateX(-50%);
      left: 50%;
    }
  
  
    &[data-x-align="left"] {
      left: -15px;
      right: auto;
      .tooltip-inner{
        svg {
          transform: translateY(80%) translateX(-50%);
          left: 10%;
        }
      }
    }
  
  
  
    &[data-x-align="right"] {
      right: -15px;
      left: auto;
      .tooltip-inner{
        svg {
          transform: translateY(80%) translateX(50%);
          right: 10%;
          left: auto;
        }
      }
    }
    
  }
  
}
  

  
