:root {
  
  // Primary Font
  --font-inter: 'Inter', Arial, sans-serif;
  
  
  // Colors
  --color-dark: #161616;
  --color-dark-2: #252524;
  --color-yellow: #DCFE8E;
  --color-yellow-2: #D3F97D;
  --color-orange: #CF8900;
  
  --color-white: #fff;
  --color-grey: #F2F2F2;
  --color-grey-2: #E0E0E0;
  --color-grey-3: #BDBDBD;
  --color-grey-4: #828282;
  --color-grey-5: #4F4F4F;
  --color-grey-6: #333333;
  --color-grey-7: #969696;
  
  --color-light-blue: #E6EFFF;
  --color-light-blue-2: #EDE2FF;
  --color-blue: #125DD7;
  --color-blue-2: #226DE8;
  --color-blue-hover: #4587F1;
  
  // Links Color
  --purple-500: #8218B8;
  --purple-600: #7111A1;
  --purple-700: #5D0C85;
  --purple-800: #440464;
  --purple-900: #29003E;
  
  --color-red: #D95335;
  --color-red-light: #FFAB9F;
  --color-red-light-2: #FFEBE8;
  --color-red-light-3: #EBC0B7;
  
  --color-green: #219653;
  
  --red-100: #FEE;
  --color-red-500: #CF1E1E;
  --red-500: var(--color-red-500);
  --red-600: #CF1E1E;
  --color-red-700: #AB1010;
  
  
}