[data-tab="Nodes"] {
  
  .nodes-group {
    margin-top: 35px;
    margin-bottom: 35px;
    
    .nodes-list {
      &__item {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 15px;
        margin-bottom: 15px;
        
        &-inner {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;

          &-skeleton {
            display: block;
            width: 100%;
          }
        }
        
        .state-col {
          display: flex;
          justify-content: flex-start;
          min-height: 48px;
          align-items: center;
          
          .state-indicator {
            margin-right: 16px;
          }
        }
        
        .info-col {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-left: 32px;
          gap: 16px;
          
          .input-wrap {
            min-width: 280px;
          }
        }
        
        
      }
      &:not(.editing) {
        .info-col {
          .input-wrap {
            pointer-events: none;
            user-select: none;
            cursor: default;
            
            .label {
              display: none;
            }
            
            input {
              padding-top: 6px;
              border-color: transparent;
              pointer-events: none;
              user-select: none;
              cursor: default;
            }
            
            
            &.name {
              input {
                font-size: 18px;
              }
            }
            
            &.module_name {
              input {
                font-size: 18px;
              }
            }
            
            
          }
        }
      }
      
      .node-list-item__skeleton{
        min-height: 64px;
        margin-bottom: 15px;
      }
      
    }
    
    .nodes-group__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .actions-row{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
      }
    }
    
    @media (max-width: 767px) {
      .nodes-list {
        &__item {
          .info-col {
            gap: 8px;
          }
        }
      }
    }
    @media (max-width: 660px) {
      .nodes-list {
        
        &:not(.editing) {
          .nodes-list__item {
            .info-col {
              transform: translateX(-16px);
            }
          }
        }
        
        &__item {
          margin-bottom: 25px;
          padding-bottom: 25px;
          
          &-inner {
            flex-direction: column-reverse;
            gap: 10px;
          }
          
          .state-col {
            width: 100%;
          }
          
          .info-col {
            width: 100%;
            padding-left: 0;
            margin-left: 0;
            
            .input-wrap {
              flex: 1;
              min-width: unset;
            }
          }
        }
      }
    }
    @media (max-width: 480px) {
      .nodes-list {
        &__item{
          .info-col {
            flex-wrap: wrap;
            .input-wrap{
              flex: unset;
              width: 100%;
            }
          }
        }
      }
    }
  }
  
}

